<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="D:\gitroot\Protime_Projects\ImportRegisteredItems\Logging"/>
    <variable name="logFile" value="LOG_ImportRegisteredItems"/>
    <variable name="ErrorLogFile" value="LOG_ERROR_ImportRegisteredItems"/>
    <targets>
      <target name="console" xsi:type="console" layout="${date:format=yyyy-MM-dd hh\:mm\:ss} | ${level:uppercase=true:padding=5:padcharacter= } | ${processname:fullname=false} | ${message}"/>
      <target name="f1" xsi:type="File" fileName="${logDirectory}/${logFile}_${date:format=yyyyMMdd}.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true:padding=5:padCharacter= } | ${processname:fullName=false} | ${message} | ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
      <target name="errorlog" xsi:type="File" fileName="${logDirectory}/${ErrorLogFile}_${date:format=yyyyMMdd}.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true:padding=5:padCharacter= } | ${processname:fullName=false} | ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f1" />
      <logger name="*" minlevel="Warn" writeTo="errorlog" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>